<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->
        {% if site.logo %}
          <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}
      </header>
      <section>
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<th align="center"; valign="middle"><p><span width="20%"> <a href="{{ "/" | absolute_url }}">Home</a></span></p></th>  
<th align="center"; valign="middle"><p><span width="20%"> <a href="{{ "/proceedings/html/program.html" | absolute_url }}">Program</a> </span></p></th>
<th align="center"; valign="middle"><p><span width="20%"> <a href="{{ "https://ecp.ep.liu.se/modelica/issue/view/70" | absolute_url }}">Proceedings</a></span></p></th>
<th align="center"; valign="middle"><p><span width="20%"> <a href="{{ "https://whova.com/portal/webapp/amcv_202211/" | absolute_url }}">Hybrid Conference</a></span></p></th>  
<th align="center"; valign="middle"><p><span width="20%"> <a href="https://whova.com/portal/amcv_202211/?source=text_link" class="whova-textlink" target="_blank" style="text-decoration:underline;color:#2DACEE;font-size:16px"/>Get Whova Now</a> </span></p></th> 
</tr>
     </table>
       {{ content }}
      </section>
      <footer>
        <h3>Organized by:</h3>
        <p>
          <a style="border-bottom: 0px solid #ccc;" href="https://www.sophia.ac.jp/eng/index.html"><img style="padding:5px;height:30px;width:auto;" src="/proceedings/html/static/images/1200px-Sophia_University_seal.svg.png" alt="Sophia" /></a>
          <a style="border-bottom: 0px solid #ccc;" href="https://www.modelon.com"><img style="padding:5px;height:30px;width:auto;" src="/proceedings/html/static/images/Modelon.png" alt="Modelon" /></a>
          <a style="border-bottom: 0px solid #ccc;" href="http://www.modelica.org"><img style="padding:5px;height:30px;width:auto;" src="/proceedings/html/static/images/ModelicaLogo.jpg" alt="Modelica" /></a>          
        </p>
         <p>

        </p>
      </footer>
    </div>
    <div>
                <div title="Whova event and conference app" id="whova-sponsorwidget">
                    <p id="whova-loading">Loading...</p>
                </div>
                <script src="https://whova.com/static/frontend/xems/js/whova-sponsor-widget.js?eid=R6SS0Oxut8f9Vyt9vOuJbm8AjMBveOpHcgshqP2erHE%3D&host=https://whova.com" type="text/javascript"  id="embeded-sponsor-script">
                </script>
                <div id="whova-wrap">
                    Powered By
                    <a class="brandlink" target="_blank" href="https://whova.com/blog/event-registration-software-price-comparison/">
                        <b>Whova</b>
                    </a>
                    <br/>
                    <a id="whova-emslink" class="brandanchorlink" target="_blank" href="https://whova.com/blog/event-registration-software-price-comparison/">
                        Event registration
                    </a>
                </div>
                </div>
    <div><iframe id="venue-map-iframe"            src='https://maps.google.com/maps/embed/v1/place?q=Bldg.%20No.7,                7-1%20Kioicho%2C%20Chiyoda-ku%2C%20Tokyo%2C%20Tokyo%2C%20%20102-8554%2C%20JP&center=35.6835695%2C%20139.7322413                &zoom=15&key=AIzaSyAz-iChz547udxDFQBQrRwP3TJMIg0e8xY'            allowFullScreen            width="90%" height="90%" frameBorder="0"        ></iframe><div id="whova-wrap">Powered By        <a class="brandlink" target="_blank" href="https://whova.com"><b>Whova</b></a><div id="whova-mgm"></div></div><img style="display:none" src="https://whova.com/xems/apis/get_whova_tracking_image/?event_id=amcv_202211&track_id=venue_map_webpage_added" /></div>
            
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
